@keyframes slideInLeft {
    0% {
        opacity: 0;
        transform: translateX(-8rem);
    }
    70% {
        opacity: 0.5;
        transform: translateX(4rem);
    }
    100% {
        opacity: 1;
        transform: translateX(-2rem);
    }
}
@keyframes slideInRight {
    0% {
        opacity: 0;
        transform: translateX(8rem);
    }
    70% {
        opacity: 0.5;
        transform: translateX(-4rem);
    }
    100% {
        opacity: 1;
        transform: translateX(4rem);
    }
}
@keyframes slideInBottom {
    0% {
        opacity: 0;
        transform: translateY(8rem);
    }
    70% {
        opacity: 0.5;
        transform: translateY(-4rem);
    }
    100% {
        opacity: 1;
        transform: translateY(4rem);
    }
}
