.attribution {
    margin-top: 1rem;
    font-size: 1em;
    text-align: center;
    font-weight: $font-weight-medium;
    color: $dark-grayish-magenta;
}

.attribution a {
    display: inline-block;
    background: linear-gradient(to right, $very-dark-magenta, $soft-pink);
    background-clip: text;
    color: transparent;
    font-size: 1.2em;
    font-weight: $font-weight-bold;
    transition: all 0.2s ease-in-out;
    text-decoration: none;

    &:hover {
        transform: scale(1.05);
        color: $very-dark-magenta;
    }
}