.badges-container {
    margin-top: 3.5rem;
    width: 100%;

    @include tablet() {
        & {
            margin-top: 0;
        }
    }
}

.proof-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 4.5rem;

    @include tablet() {
        & {
            flex-direction: row;
            gap: 1rem;
            margin-top: 6rem;
        }
    }
    @include laptop() {
        & {
            gap: 2rem;
            margin-top: 7rem;
        }
    }
    @include desktop() {
        & {
            gap: 3rem;
            margin-top: 8rem;
        }
    }
}
