.proof-box {
    font-size: 0.8em;
    background-color: $very-dark-magenta;
    padding: 3.5rem 3rem;
    border-radius: 0.5rem;
    transition: all 0.2s ease-in-out;

    &:hover {
        transform: translateY(1rem) scale(1.05);
        box-shadow: 5px 5px 10px rgba($black, 0.3);
        background-color: $light-grayish-magenta;

        & .proof-box__heading {
            &--main {
                color: $very-dark-magenta;
            }
            &--sub {
                color: $dark-grayish-magenta;
            }
        }
        & .proof-box__text {
            color: $very-dark-magenta;
        }
    }

    &:not(:last-child) {
        margin-bottom: 1.5rem;
    }

    &__img {
        display: inline-block;
        border-radius: 50%;
        width: 4rem;
    }

    &__heading {
        display: inline-block;
        vertical-align: top;
        font-weight: $font-weight-bold;
        margin-left: 2rem;

        &--main {
            display: block;
            color: $white;
            line-height: 1.8;
        }
        &--sub {
            display: block;
            font-weight: $font-weight-medium;
            color: rgba($soft-pink, 0.5);
        }
    }

    &__text {
        line-height: 1.5;
        font-weight: $font-weight-regular;
        color: $white;
        margin-top: 2rem;
    }

    @include tablet() {
        &:not(:last-child) {
            margin: 0;
        }

        &:nth-child(2) {
            transform: translateY(1rem);
            &:hover {
                transform: translateY(0) scale(1.05);
            }
        }
        &:nth-child(3) {
            transform: translateY(2rem);
            &:hover {
                transform: translateY(0) scale(1.05);
            }
        }
    }
    @include laptop() {
        & {
            font-size: 1em;
        }

        &__img {
            width: 5rem;
        }
    }
    @include desktop() {
        & {
            font-size: 1.1em;
        }

        &__img {
            width: 5rem;
        }
    }
}
