
// _______________COLORS

// Primary
$very-dark-magenta: hsl(300, 43%, 22%);
$soft-pink: hsl(333, 80%, 67%);
// Neutral
$dark-grayish-magenta: hsl(303, 10%, 53%);
$light-grayish-magenta: hsl(300, 24%, 96%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);

// _______________TYPOGRAPHY

// Fonts
$default-font-size: 1.5rem;
$font-family: 'Spartan', sans-serif;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// _______________RESPONSIVE BREAKPOINTS

$tablet: 768px;
$laptop: 992px;
$desktop: 1200px;
$large-screens: 1439px;