*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 65.2%; }

body {
  box-sizing: border-box;
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #f7f2f7; }
  @media (min-width: 768px) {
    body {
      padding: 2rem; } }

body {
  font-size: 1.5rem;
  font-family: "Spartan", sans-serif;
  font-weight: 400;
  user-select: none; }

.heading-primary {
  font-size: 2em;
  font-weight: 700;
  color: #502050;
  margin: 0 auto;
  width: 90%; }
  @media (min-width: 768px) {
    .heading-primary {
      margin: 0 auto 0 0; } }
  @media (min-width: 992px) {
    .heading-primary {
      font-size: 2.5em; } }
  @media (min-width: 1200px) {
    .heading-primary {
      font-size: 3em;
      width: 80%; } }

.social-proof-section {
  position: relative;
  max-width: 144rem;
  padding: 8rem 2rem;
  margin: 0 auto; }
  .social-proof-section__bg-layer {
    position: absolute;
    background-color: white;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2; }
  .social-proof-section::before, .social-proof-section::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1; }
  .social-proof-section::before {
    top: 0;
    left: 0;
    background-image: url("/images/bg-pattern-top-mobile.svg");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 100%; }
  .social-proof-section::after {
    bottom: 0;
    right: 0;
    background-image: url("/images/bg-pattern-bottom-mobile.svg");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 100% 50%; }
  @media (min-width: 768px) {
    .social-proof-section {
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); } }
  @media (min-width: 992px) {
    .social-proof-section::before {
      background-image: url("/images/bg-pattern-top-desktop.svg");
      background-size: 45% 40%; }
    .social-proof-section::after {
      background-image: url("/images/bg-pattern-bottom-desktop.svg");
      background-size: 80% 90%; } }
  @media (min-width: 1200px) {
    .social-proof-section {
      padding: 10rem 8rem; } }

.social-proof-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }
  @media (min-width: 768px) {
    .social-proof-wrapper {
      flex-direction: row;
      align-items: flex-start;
      gap: 10rem; } }
  @media (min-width: 1200px) {
    .social-proof-wrapper {
      flex-direction: row;
      align-items: flex-start;
      gap: 18rem; } }

.badges-container {
  margin-top: 3.5rem;
  width: 100%; }
  @media (min-width: 768px) {
    .badges-container {
      margin-top: 0; } }

.proof-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 4.5rem; }
  @media (min-width: 768px) {
    .proof-container {
      flex-direction: row;
      gap: 1rem;
      margin-top: 6rem; } }
  @media (min-width: 992px) {
    .proof-container {
      gap: 2rem;
      margin-top: 7rem; } }
  @media (min-width: 1200px) {
    .proof-container {
      gap: 3rem;
      margin-top: 8rem; } }

.heading-box {
  line-height: 1;
  text-align: center; }
  .heading-box__text {
    font-size: 0.9em;
    font-weight: 500;
    color: #937b92;
    line-height: 1.6;
    margin-top: 2rem; }
  @media (min-width: 768px) {
    .heading-box {
      text-align: start; }
    .heading-box__text {
      font-size: 1.2em; } }
  @media (min-width: 1200px) {
    .heading-box__text {
      font-size: 1.3em; } }

.badge-box {
  font-size: 0.8em;
  text-align: center;
  background-color: #f7f2f7;
  border-radius: 5px;
  padding: 1.5rem;
  transition: all 0.2s ease-in-out; }
  .badge-box:hover {
    background-color: #502050;
    transform: scale(1.05);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); }
    .badge-box:hover .badge-box__text {
      color: white;
      transition-delay: 0.1s; }
  .badge-box__img-wrapper {
    display: flex;
    justify-content: center;
    gap: 0.7rem; }
  .badge-box:not(:last-child) {
    margin-bottom: 1.3rem; }
  .badge-box__img {
    height: 1.5rem; }
  .badge-box__text {
    display: block;
    font-weight: 700;
    color: #502050;
    margin-top: 1.5rem; }
  @media (min-width: 768px) {
    .badge-box:nth-child(1) {
      transform: translateX(-6rem); }
      .badge-box:nth-child(1):hover {
        transform: translateX(0) scale(1.05); }
    .badge-box:nth-child(2) {
      transform: translateX(-3rem); }
      .badge-box:nth-child(2):hover {
        transform: translateX(0) scale(1.05); } }
  @media (min-width: 992px) {
    .badge-box {
      font-size: 1em; }
    .badge-box:not(:last-child) {
      margin-bottom: 1.5rem; }
    .badge-box:nth-child(1) {
      transform: translateX(-9rem); }
    .badge-box:nth-child(2) {
      transform: translateX(-4.5rem); } }
  @media (min-width: 1200px) {
    .badge-box {
      font-size: 1.1em;
      padding: 2rem 3rem; }
    .badge-box:not(:last-child) {
      margin-bottom: 1.8rem; }
    .badge-box__img {
      height: 1.7rem; } }
  @media (min-width: 1439px) {
    .badge-box {
      display: flex;
      align-items: center;
      gap: 3rem; }
    .badge-box__text {
      margin-top: 0; } }

.proof-box {
  font-size: 0.8em;
  background-color: #502050;
  padding: 3.5rem 3rem;
  border-radius: 0.5rem;
  transition: all 0.2s ease-in-out; }
  .proof-box:hover {
    transform: translateY(1rem) scale(1.05);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    background-color: #f7f2f7; }
    .proof-box:hover .proof-box__heading--main {
      color: #502050; }
    .proof-box:hover .proof-box__heading--sub {
      color: #937b92; }
    .proof-box:hover .proof-box__text {
      color: #502050; }
  .proof-box:not(:last-child) {
    margin-bottom: 1.5rem; }
  .proof-box__img {
    display: inline-block;
    border-radius: 50%;
    width: 4rem; }
  .proof-box__heading {
    display: inline-block;
    vertical-align: top;
    font-weight: 700;
    margin-left: 2rem; }
    .proof-box__heading--main {
      display: block;
      color: white;
      line-height: 1.8; }
    .proof-box__heading--sub {
      display: block;
      font-weight: 500;
      color: rgba(238, 104, 164, 0.5); }
  .proof-box__text {
    line-height: 1.5;
    font-weight: 400;
    color: white;
    margin-top: 2rem; }
  @media (min-width: 768px) {
    .proof-box:not(:last-child) {
      margin: 0; }
    .proof-box:nth-child(2) {
      transform: translateY(1rem); }
      .proof-box:nth-child(2):hover {
        transform: translateY(0) scale(1.05); }
    .proof-box:nth-child(3) {
      transform: translateY(2rem); }
      .proof-box:nth-child(3):hover {
        transform: translateY(0) scale(1.05); } }
  @media (min-width: 992px) {
    .proof-box {
      font-size: 1em; }
    .proof-box__img {
      width: 5rem; } }
  @media (min-width: 1200px) {
    .proof-box {
      font-size: 1.1em; }
    .proof-box__img {
      width: 5rem; } }

.attribution {
  margin-top: 1rem;
  font-size: 1em;
  text-align: center;
  font-weight: 500;
  color: #937b92; }

.attribution a {
  display: inline-block;
  background: linear-gradient(to right, #502050, #ee68a4);
  background-clip: text;
  color: transparent;
  font-size: 1.2em;
  font-weight: 700;
  transition: all 0.2s ease-in-out;
  text-decoration: none; }
  .attribution a:hover {
    transform: scale(1.05);
    color: #502050; }
